# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/**/dev*/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules (if using npm/yarn for dependencies)
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
